<div>
  <form>
      <div class="row">
        <div class="col">
          <select class="form-control" id="exampleFormControlSelect1">
              <option>Representatives</option>
              <option>Senators</option>
          </select>
        </div>
        <div class="col">
            <select class="form-control" id="exampleFormControlSelect1">
                <option>UT</option>
                <option>CA</option>
            </select>
        </div>
        <div class="col">
          <button type="submit" class="btn btn-primary mb-2">Submit</button>
        </div>
      </div>
    </form>
</div>