<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div class="col-sm">
        <h1 style="color:#0000ffb5">
          Who's My Congressperson?
        </h1>
    </div>
  </div>
  <div class="row">
      <div class="col-sm">
          <app-congressperson-search (submitEvent)="receiveSearch($event)"></app-congressperson-search>
      </div>
  </div>
  <div class="row">
      <div class="col-sm">
          <app-congressperson-list [congresspersons]="congresspersons" (clickEvent)="receiveCongressperson($event)">
          </app-congressperson-list>
      </div>
      <div class="col-sm">
        <app-congressperson-detail [congressperson]="congressperson"></app-congressperson-detail>
      </div>
  </div>
</div>

