<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div class="col-sm">
        <h1 style="color:#0000ffb5">
          Who's My Representative?
        </h1>
    </div>
  </div>
  <div class="row">
      <div class="col-sm">
          <h2>List / <span style="color:#0000ffb5">Representatives</span></h2>
          <table class="table">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Party</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Ryan Nelson</td>
                  <td>R</td>
                </tr>
                <tr>
                  <td>Goon Boi</td>
                  <td>D</td>
                </tr>
              </tbody>
            </table>
      </div>
      <div class="col-sm">
        <app-congressperson-detail></app-congressperson-detail>
      </div>
  </div>
</div>

