<div>
    <h2>List / <span style="color:#0000ffb5">{{ house }}</span></h2>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Party</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let congressperson of congresspeople">
            <td>{{ congressperson.firstName }} {{ congressperson.lastName }}</td>
            <td>{{ congressperson.party }}</td>
          </tr>
        </tbody>
      </table>
</div>